In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_excel("loan.xlsx")

In [3]:
df.info(verbose=True,memory_usage='deep',null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
id                                39717 non-null int64
member_id                         39717 non-null int64
loan_amnt                         39717 non-null int64
funded_amnt                       39717 non-null int64
funded_amnt_inv                   39717 non-null float64
term                              39717 non-null object
int_rate                          39717 non-null float64
installment                       39717 non-null float64
grade                             39717 non-null object
sub_grade                         39717 non-null object
emp_title                         37258 non-null object
emp_length                        38642 non-null object
home_ownership                    39717 non-null object
annual_inc                        39717 non-null float64
verification_status               39717 non-null object
issue_d                           39717 non-null datetime64[ns]
loan_status                       39717 non-null object
pymnt_plan                        39717 non-null object
url                               39717 non-null object
desc                              26777 non-null object
purpose                           39717 non-null object
title                             39705 non-null object
zip_code                          39717 non-null object
addr_state                        39717 non-null object
dti                               39717 non-null float64
delinq_2yrs                       39717 non-null int64
earliest_cr_line                  39717 non-null datetime64[ns]
inq_last_6mths                    39717 non-null int64
mths_since_last_delinq            14035 non-null float64
mths_since_last_record            2786 non-null float64
open_acc                          39717 non-null int64
pub_rec                           39717 non-null int64
revol_bal                         39717 non-null int64
revol_util                        39667 non-null float64
total_acc                         39717 non-null int64
initial_list_status               39717 non-null object
out_prncp                         39717 non-null float64
out_prncp_inv                     39717 non-null float64
total_pymnt                       39717 non-null float64
total_pymnt_inv                   39717 non-null float64
total_rec_prncp                   39717 non-null float64
total_rec_int                     39717 non-null float64
total_rec_late_fee                39717 non-null float64
recoveries                        39717 non-null float64
collection_recovery_fee           39717 non-null float64
last_pymnt_d                      39646 non-null datetime64[ns]
last_pymnt_amnt                   39717 non-null float64
next_pymnt_d                      1140 non-null datetime64[ns]
last_credit_pull_d                39715 non-null datetime64[ns]
collections_12_mths_ex_med        39661 non-null float64
mths_since_last_major_derog       0 non-null float64
policy_code                       39717 non-null int64
application_type                  39717 non-null object
annual_inc_joint                  0 non-null float64
dti_joint                         0 non-null float64
verification_status_joint         0 non-null float64
acc_now_delinq                    39717 non-null int64
tot_coll_amt                      0 non-null float64
tot_cur_bal                       0 non-null float64
open_acc_6m                       0 non-null float64
open_il_6m                        0 non-null float64
open_il_12m                       0 non-null float64
open_il_24m                       0 non-null float64
mths_since_rcnt_il                0 non-null float64
total_bal_il                      0 non-null float64
il_util                           0 non-null float64
open_rv_12m                       0 non-null float64
open_rv_24m                       0 non-null float64
max_bal_bc                        0 non-null float64
all_util                          0 non-null float64
total_rev_hi_lim                  0 non-null float64
inq_fi                            0 non-null float64
total_cu_tl                       0 non-null float64
inq_last_12m                      0 non-null float64
acc_open_past_24mths              0 non-null float64
avg_cur_bal                       0 non-null float64
bc_open_to_buy                    0 non-null float64
bc_util                           0 non-null float64
chargeoff_within_12_mths          39661 non-null float64
delinq_amnt                       39717 non-null int64
mo_sin_old_il_acct                0 non-null float64
mo_sin_old_rev_tl_op              0 non-null float64
mo_sin_rcnt_rev_tl_op             0 non-null float64
mo_sin_rcnt_tl                    0 non-null float64
mort_acc                          0 non-null float64
mths_since_recent_bc              0 non-null float64
mths_since_recent_bc_dlq          0 non-null float64
mths_since_recent_inq             0 non-null float64
mths_since_recent_revol_delinq    0 non-null float64
num_accts_ever_120_pd             0 non-null float64
num_actv_bc_tl                    0 non-null float64
num_actv_rev_tl                   0 non-null float64
num_bc_sats                       0 non-null float64
num_bc_tl                         0 non-null float64
num_il_tl                         0 non-null float64
num_op_rev_tl                     0 non-null float64
num_rev_accts                     0 non-null float64
num_rev_tl_bal_gt_0               0 non-null float64
num_sats                          0 non-null float64
num_tl_120dpd_2m                  0 non-null float64
num_tl_30dpd                      0 non-null float64
num_tl_90g_dpd_24m                0 non-null float64
num_tl_op_past_12m                0 non-null float64
pct_tl_nvr_dlq                    0 non-null float64
percent_bc_gt_75                  0 non-null float64
pub_rec_bankruptcies              39020 non-null float64
tax_liens                         39678 non-null float64
tot_hi_cred_lim                   0 non-null float64
total_bal_ex_mort                 0 non-null float64
total_bc_limit                    0 non-null float64
total_il_high_credit_limit        0 non-null float64
dtypes: datetime64[ns](5), float64(76), int64(13), object(17)
memory usage: 137.2 MB

# DATA PREPROCESSING AND CLEANING

## 1.dropping all the  columns with all null values

As we can see above many of the columns have all null values , so what I did was first dropped all the columns with all the null values as shown below.

In [4]:
drop_col=['mo_sin_old_il_acct',                
'mo_sin_old_rev_tl_op',             
'mo_sin_rcnt_rev_tl_op' ,           
'mo_sin_rcnt_tl',                    
'mort_acc',                         # 0 non-null float64
'mths_since_recent_bc',              #0 non-null float64
'mths_since_recent_bc_dlq',          #0 non-null float64
'mths_since_recent_inq',             #0 non-null float64
'mths_since_recent_revol_delinq',    #0 non-null float64
'num_accts_ever_120_pd',             #0 non-null float64
'num_actv_bc_tl',                    #0 non-null float64
'num_actv_rev_tl',                   #0 non-null float64
'num_bc_sats',                       #0 non-null float64
'num_bc_tl',                         #0 non-null float64
'num_il_tl',                         #0 non-null float64
'num_op_rev_tl',                     #0 non-null float64
'num_rev_accts',                     #0 non-null float64
'num_rev_tl_bal_gt_0',               #0 non-null float64
'num_sats',                          #0 non-null float64
'num_tl_120dpd_2m',                  
'num_tl_30dpd',                      
'num_tl_90g_dpd_24m',                
'num_tl_op_past_12m',                
'pct_tl_nvr_dlq',                   
'percent_bc_gt_75','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit',
'tot_coll_amt',                     
'tot_cur_bal',                       #0 non-null float64
'open_acc_6m',                       #0 non-null float64
'open_il_6m',                        #0 non-null float64
'open_il_12m',                       #0 non-null float64
'open_il_24m',                       #0 non-null float64
'mths_since_rcnt_il',                #0 non-null float64
'total_bal_il',                      #0 non-null float64
'il_util',                           #0 non-null float64
'open_rv_12m',                       #0 non-null float64
'open_rv_24m',                       #0 non-null float64
'max_bal_bc',                        #0 non-null float64
'all_util',                          #0 non-null float64
'total_rev_hi_lim',                  #0 non-null float64
'inq_fi',                            #0 non-null float64
'total_cu_tl',                       #0 non-null float64
'inq_last_12m',                      #0 non-null float64
'acc_open_past_24mths',              #0 non-null float64
'avg_cur_bal',                       #0 non-null float64
'bc_open_to_buy',                    
'bc_util','id','member_id','emp_title','title','zip_code','url','mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint','desc','mths_since_last_record' ]

In [5]:
df_new=df.drop(drop_col,axis=1)

In [6]:
df_new.shape

(39717, 49)

In [7]:
df_new.info()  #Checking the info for seeing how many columns have some null values now.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 49 columns):
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null float64
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_length                    38642 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null datetime64[ns]
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
purpose                       39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null datetime64[ns]
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        14035 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39667 non-null float64
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39646 non-null datetime64[ns]
last_pymnt_amnt               39717 non-null float64
next_pymnt_d                  1140 non-null datetime64[ns]
last_credit_pull_d            39715 non-null datetime64[ns]
collections_12_mths_ex_med    39661 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39661 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39020 non-null float64
tax_liens                     39678 non-null float64
dtypes: datetime64[ns](5), float64(21), int64(11), object(12)
memory usage: 14.8+ MB

## 2.filling the columns with some null entries

Now after dropping the columns with all the null values we come to the columns with some null values .The names of these columns can be found above.I used median() to fill out these null values

In [8]:
df_new['mths_since_last_delinq'] = df_new['mths_since_last_delinq'].fillna(df_new['mths_since_last_delinq'].median())
df_new['revol_util'] = df_new['revol_util'].fillna(df_new['revol_util'].median())
df_new['collections_12_mths_ex_med'] = df_new['collections_12_mths_ex_med'].fillna(df_new['collections_12_mths_ex_med'].median())
df_new['chargeoff_within_12_mths'] = df_new['chargeoff_within_12_mths'].fillna(df_new['chargeoff_within_12_mths'].median())
df_new['pub_rec_bankruptcies'] = df_new['pub_rec_bankruptcies'].fillna(df_new['pub_rec_bankruptcies'].median())
df_new['tax_liens'] = df_new['tax_liens'].fillna(df_new['tax_liens'].median())

In [9]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 49 columns):
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null float64
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_length                    38642 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null datetime64[ns]
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
purpose                       39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null datetime64[ns]
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        39717 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39717 non-null float64
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39646 non-null datetime64[ns]
last_pymnt_amnt               39717 non-null float64
next_pymnt_d                  1140 non-null datetime64[ns]
last_credit_pull_d            39715 non-null datetime64[ns]
collections_12_mths_ex_med    39717 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39717 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39717 non-null float64
tax_liens                     39717 non-null float64
dtypes: datetime64[ns](5), float64(21), int64(11), object(12)
memory usage: 14.8+ MB

## 3. Filling and converting the datetime64 object to normal object type(for ease in label encoding)

In [10]:

df_new['last_pymnt_d']= pd.to_datetime(df_new['last_pymnt_d'].fillna('2016-01-01')).apply(lambda x: int(x.strftime('%m')))
df_new['last_credit_pull_d']= pd.to_datetime(df_new['last_credit_pull_d'].fillna("2016-01-01")).apply(lambda x: int(x.strftime('%m')))
df_new['next_pymnt_d'] = pd.to_datetime(df_new['next_pymnt_d'].fillna(value = '2016-02-01')).apply(lambda x:int(x.strftime("%Y")))
df_new['earliest_cr_line']= pd.to_datetime(df_new['earliest_cr_line'].fillna('2001-08-01')).apply(lambda x: int(x.strftime('%m')))
df_new['issue_d']= pd.to_datetime(df_new['issue_d']).apply(lambda x: int(x.strftime('%Y')))

In [11]:
df_new['emp_length'] = df_new['emp_length'].fillna('3 years')

Now all the columns are filled properly and it can also be seen below.

In [12]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 49 columns):
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null float64
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_length                    39717 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null int64
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
purpose                       39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null int64
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        39717 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39717 non-null float64
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39717 non-null int64
last_pymnt_amnt               39717 non-null float64
next_pymnt_d                  39717 non-null int64
last_credit_pull_d            39717 non-null int64
collections_12_mths_ex_med    39717 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39717 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39717 non-null float64
tax_liens                     39717 non-null float64
dtypes: float64(21), int64(16), object(12)
memory usage: 14.8+ MB

# label encoding the categorical data

In [13]:
X=df_new.drop('loan_status',axis=1)
Y=df_new['loan_status']

In [14]:
print(X.shape,Y.shape)

((39717, 48), (39717,))

In [15]:
le=LabelEncoder()

In [16]:
y=le.fit_transform(Y)

In [17]:
print(X.shape,Y.shape)
X.info()

((39717, 48), (39717,))
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 48 columns):
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null float64
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_length                    39717 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null int64
pymnt_plan                    39717 non-null object
purpose                       39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null int64
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        39717 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39717 non-null float64
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39717 non-null int64
last_pymnt_amnt               39717 non-null float64
next_pymnt_d                  39717 non-null int64
last_credit_pull_d            39717 non-null int64
collections_12_mths_ex_med    39717 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39717 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39717 non-null float64
tax_liens                     39717 non-null float64
dtypes: float64(21), int64(16), object(11)
memory usage: 14.5+ MB

### label encoding columns with only 2 types of values

In [18]:
count = 0

for col in X:
    if X[col].dtype == 'object':
        if len(list(X[col].unique())) <= 2:     
            X[col] = le.fit_transform(X[col])
            count += 1
            print (col)

term
pymnt_plan
initial_list_status
application_type

In [19]:
X.head(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000,5000,4975.0,0,0.1065,162.87,B,B2,10+ years,RENT,...,2016,5,0.0,1,0,0,0.0,0,0.0,0.0
1,2500,2500,2500.0,1,0.1527,59.83,C,C4,< 1 year,RENT,...,2016,9,0.0,1,0,0,0.0,0,0.0,0.0
2,2400,2400,2400.0,0,0.1596,84.33,C,C5,10+ years,RENT,...,2016,5,0.0,1,0,0,0.0,0,0.0,0.0
3,10000,10000,10000.0,0,0.1349,339.31,C,C1,10+ years,RENT,...,2016,4,0.0,1,0,0,0.0,0,0.0,0.0
4,3000,3000,3000.0,1,0.1269,67.79,B,B5,1 year,RENT,...,2016,5,0.0,1,0,0,0.0,0,0.0,0.0

### one hot encoding the rest data

In [20]:
dfx = pd.get_dummies(X)
print(dfx.shape)

(39717, 166)

In [21]:
dfx.dropna(inplace=True)

In [22]:
dfx.shape

(39717, 166)

In [23]:
dfx.info(verbose=True,memory_usage='deep',null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39717 entries, 0 to 39716
Data columns (total 166 columns):
loan_amnt                              39717 non-null int64
funded_amnt                            39717 non-null int64
funded_amnt_inv                        39717 non-null float64
term                                   39717 non-null int64
int_rate                               39717 non-null float64
installment                            39717 non-null float64
annual_inc                             39717 non-null float64
issue_d                                39717 non-null int64
pymnt_plan                             39717 non-null int64
dti                                    39717 non-null float64
delinq_2yrs                            39717 non-null int64
earliest_cr_line                       39717 non-null int64
inq_last_6mths                         39717 non-null int64
mths_since_last_delinq                 39717 non-null float64
open_acc                               39717 non-null int64
pub_rec                                39717 non-null int64
revol_bal                              39717 non-null int64
revol_util                             39717 non-null float64
total_acc                              39717 non-null int64
initial_list_status                    39717 non-null int64
out_prncp                              39717 non-null float64
out_prncp_inv                          39717 non-null float64
total_pymnt                            39717 non-null float64
total_pymnt_inv                        39717 non-null float64
total_rec_prncp                        39717 non-null float64
total_rec_int                          39717 non-null float64
total_rec_late_fee                     39717 non-null float64
recoveries                             39717 non-null float64
collection_recovery_fee                39717 non-null float64
last_pymnt_d                           39717 non-null int64
last_pymnt_amnt                        39717 non-null float64
next_pymnt_d                           39717 non-null int64
last_credit_pull_d                     39717 non-null int64
collections_12_mths_ex_med             39717 non-null float64
policy_code                            39717 non-null int64
application_type                       39717 non-null int64
acc_now_delinq                         39717 non-null int64
chargeoff_within_12_mths               39717 non-null float64
delinq_amnt                            39717 non-null int64
pub_rec_bankruptcies                   39717 non-null float64
tax_liens                              39717 non-null float64
grade_A                                39717 non-null uint8
grade_B                                39717 non-null uint8
grade_C                                39717 non-null uint8
grade_D                                39717 non-null uint8
grade_E                                39717 non-null uint8
grade_F                                39717 non-null uint8
grade_G                                39717 non-null uint8
sub_grade_A1                           39717 non-null uint8
sub_grade_A2                           39717 non-null uint8
sub_grade_A3                           39717 non-null uint8
sub_grade_A4                           39717 non-null uint8
sub_grade_A5                           39717 non-null uint8
sub_grade_B1                           39717 non-null uint8
sub_grade_B2                           39717 non-null uint8
sub_grade_B3                           39717 non-null uint8
sub_grade_B4                           39717 non-null uint8
sub_grade_B5                           39717 non-null uint8
sub_grade_C1                           39717 non-null uint8
sub_grade_C2                           39717 non-null uint8
sub_grade_C3                           39717 non-null uint8
sub_grade_C4                           39717 non-null uint8
sub_grade_C5                           39717 non-null uint8
sub_grade_D1                           39717 non-null uint8
sub_grade_D2                           39717 non-null uint8
sub_grade_D3                           39717 non-null uint8
sub_grade_D4                           39717 non-null uint8
sub_grade_D5                           39717 non-null uint8
sub_grade_E1                           39717 non-null uint8
sub_grade_E2                           39717 non-null uint8
sub_grade_E3                           39717 non-null uint8
sub_grade_E4                           39717 non-null uint8
sub_grade_E5                           39717 non-null uint8
sub_grade_F1                           39717 non-null uint8
sub_grade_F2                           39717 non-null uint8
sub_grade_F3                           39717 non-null uint8
sub_grade_F4                           39717 non-null uint8
sub_grade_F5                           39717 non-null uint8
sub_grade_G1                           39717 non-null uint8
sub_grade_G2                           39717 non-null uint8
sub_grade_G3                           39717 non-null uint8
sub_grade_G4                           39717 non-null uint8
sub_grade_G5                           39717 non-null uint8
emp_length_1 year                      39717 non-null uint8
emp_length_10+ years                   39717 non-null uint8
emp_length_2 years                     39717 non-null uint8
emp_length_3 years                     39717 non-null uint8
emp_length_4 years                     39717 non-null uint8
emp_length_5 years                     39717 non-null uint8
emp_length_6 years                     39717 non-null uint8
emp_length_7 years                     39717 non-null uint8
emp_length_8 years                     39717 non-null uint8
emp_length_9 years                     39717 non-null uint8
emp_length_< 1 year                    39717 non-null uint8
home_ownership_MORTGAGE                39717 non-null uint8
home_ownership_NONE                    39717 non-null uint8
home_ownership_OTHER                   39717 non-null uint8
home_ownership_OWN                     39717 non-null uint8
home_ownership_RENT                    39717 non-null uint8
verification_status_Not Verified       39717 non-null uint8
verification_status_Source Verified    39717 non-null uint8
verification_status_Verified           39717 non-null uint8
purpose_car                            39717 non-null uint8
purpose_credit_card                    39717 non-null uint8
purpose_debt_consolidation             39717 non-null uint8
purpose_educational                    39717 non-null uint8
purpose_home_improvement               39717 non-null uint8
purpose_house                          39717 non-null uint8
purpose_major_purchase                 39717 non-null uint8
purpose_medical                        39717 non-null uint8
purpose_moving                         39717 non-null uint8
purpose_other                          39717 non-null uint8
purpose_renewable_energy               39717 non-null uint8
purpose_small_business                 39717 non-null uint8
purpose_vacation                       39717 non-null uint8
purpose_wedding                        39717 non-null uint8
addr_state_AK                          39717 non-null uint8
addr_state_AL                          39717 non-null uint8
addr_state_AR                          39717 non-null uint8
addr_state_AZ                          39717 non-null uint8
addr_state_CA                          39717 non-null uint8
addr_state_CO                          39717 non-null uint8
addr_state_CT                          39717 non-null uint8
addr_state_DC                          39717 non-null uint8
addr_state_DE                          39717 non-null uint8
addr_state_FL                          39717 non-null uint8
addr_state_GA                          39717 non-null uint8
addr_state_HI                          39717 non-null uint8
addr_state_IA                          39717 non-null uint8
addr_state_ID                          39717 non-null uint8
addr_state_IL                          39717 non-null uint8
addr_state_IN                          39717 non-null uint8
addr_state_KS                          39717 non-null uint8
addr_state_KY                          39717 non-null uint8
addr_state_LA                          39717 non-null uint8
addr_state_MA                          39717 non-null uint8
addr_state_MD                          39717 non-null uint8
addr_state_ME                          39717 non-null uint8
addr_state_MI                          39717 non-null uint8
addr_state_MN                          39717 non-null uint8
addr_state_MO                          39717 non-null uint8
addr_state_MS                          39717 non-null uint8
addr_state_MT                          39717 non-null uint8
addr_state_NC                          39717 non-null uint8
addr_state_NE                          39717 non-null uint8
addr_state_NH                          39717 non-null uint8
addr_state_NJ                          39717 non-null uint8
addr_state_NM                          39717 non-null uint8
addr_state_NV                          39717 non-null uint8
addr_state_NY                          39717 non-null uint8
addr_state_OH                          39717 non-null uint8
addr_state_OK                          39717 non-null uint8
addr_state_OR                          39717 non-null uint8
addr_state_PA                          39717 non-null uint8
addr_state_RI                          39717 non-null uint8
addr_state_SC                          39717 non-null uint8
addr_state_SD                          39717 non-null uint8
addr_state_TN                          39717 non-null uint8
addr_state_TX                          39717 non-null uint8
addr_state_UT                          39717 non-null uint8
addr_state_VA                          39717 non-null uint8
addr_state_VT                          39717 non-null uint8
addr_state_WA                          39717 non-null uint8
addr_state_WI                          39717 non-null uint8
addr_state_WV                          39717 non-null uint8
addr_state_WY                          39717 non-null uint8
dtypes: float64(21), int64(20), uint8(125)
memory usage: 17.5 MB

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

/usr/local/lib/python2.7/dist-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

# RandomForest Classifier

In [25]:
rf=RandomForestClassifier()

In [26]:
x_train,x_test,y_train,y_test=train_test_split(dfx, y, test_size=0.20) #splitting train test data

In [27]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
rf.score(x_test,y_test)

0.9923212487411883

# using multinomial naive bayes

In [31]:
from sklearn.naive_bayes import MultinomialNB

In [32]:
mnb=MultinomialNB()

In [33]:
mnb.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [34]:
mnb.score(x_test,y_test)

0.7404330312185297